#masthead {
    background-color: $mywhite;
    flex: 1 1 100%;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .container {
        flex: 1 1 100%;
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    h1 {
        margin: 0;
        font-family: 'Playfair Display', serif;
        font-size: 50px;
        text-transform: none;
        letter-spacing: -2.25px;
        padding-right: 45px;
        a, a:visited {
            text-decoration: none;
            color: $color1;
            transition: 0.25s;
        }
        a:hover {
            color: black;
        }
    }
}
@media all and (max-width: 725px)  {
    #masthead {
        flex-flow: row wrap;
        .container {
            align-items: flex-start;
            h1 {
                order: 1;
                padding-right: 0;
                padding-left: 30px;
            }
        }
    }
}
@media all and (max-width: 350px) {
    #masthead {         
        .container {
            h1 {
    padding-left: 22px;
    padding-top:5px;
                font-size: 37px;
                letter-spacing: -2px;
            }
        }
    }
}