.main-navigation {
	clear: both;
	display: block;
        font-family: "TheinLight";
        letter-spacing: 1px;
        font-size: 20px;
        color: $color1;
	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 45px;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
                        width: 300px;
                        padding: 0 20px 20px 20px;
			left: -999em;
			z-index: 99999;
                        background-color: #FDFDFD;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}
                        .cat {
                            a {
                            color: #000;
                            padding-bottom: 5px;
                            border-bottom: 0.5px solid black;
                            }
                            width:100%;
                            margin: 12px 0;
                        }
			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;
                padding-right: 30px;

		&:hover > a,
		&.focus > a {
		}
	}
        .lastitem:after {
            content: none;
        }
	a, a:visited {
		text-decoration: none;
                text-transform: lowercase;
                color: $color1;
                transition: 0.2s;
	}
        a:hover {
            color: black;
        }

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
